<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
<mapper namespace="entityMapper">
    <insert id="addUser" parameterType="com.wxx.mybatis_protice.entity.User">
        insert into user values (#{id}, #{username}, #{password})
    </insert>

    <delete id="delUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.wxx.mybatis_protice.entity.User">
        update user set username = #{username}, password = #{password} where id = #{id}
    </update>

    <select id="findAll" resultType="com.wxx.mybatis_protice.entity.User">
        select * from user
    </select>

    <select id="findOne" resultType="user" parameterType="int" >
        select * from user where id = #{id}
    </select>
</mapper>-->

<mapper namespace="com.wxx.mybatis_protice.dao.UserDao">
    <sql id="commonSql">select * from user</sql>

    <resultMap id="userMap" type="user">
        <result property="id" column="uid"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="orderList" ofType="order">
            <result property="id" column="oid"></result>
            <result property="ordertime" column="ordertime"></result>
            <result property="total" column="total"></result>
        </collection>
    </resultMap>
    <select id="getUserList" resultMap="userMap">
        SELECT *, orders.id oid FROM USER JOIN orders ON user.id = orders.uid
    </select>

    <insert id="addUser" parameterType="user">
        insert into user values(#{id}, #{username}, #{password})
    </insert>

    <select id="getUser" parameterType="user" resultType="user">
        <include refid="commonSql"></include>
        <where>
            <if test="id != 0">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
        </where>
    </select>

    <select id="getUserById" resultType="user" parameterType="list">
        <include refid="commonSql"></include>
        <where>
            <foreach collection="array" separator="," open="id in(" close=")" item="id">
                #{id}
            </foreach>
        </where>
    </select>


    <resultMap id="user_roleMap" type="user">
        <result property="id" column="userId"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="roleList" ofType="role">
            <result property="id" column="roleId"></result>
            <result property="roleName" column="roleName"></result>
            <result property="roleDesc" column="roleDesc"></result>
        </collection>
    </resultMap>
    <select id="getUserInfo" resultMap="user_roleMap">
        select * from sys_user u, sys_role r, sys_user_role ur where u.id = ur.userId and r.id = ur.roleId
    </select>
</mapper>